.iteminput {
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em; }

.listItemIcon {
  padding-left: 1em;
  padding-right: 1em; }

.listTitleIcon {
  padding-left: 1em;
  padding-right: 1em; }

.newListContain {
  margin: 2em;
  padding: 1em;
  border-style: solid;
  border-color: grey; }

#allLists {
  margin: 2em;
  padding: 1em;
  border-style: solid;
  border-color: grey;
  min-height: 800px;
  display: flex; }

#index-main-myListTitle {
  padding: 1em; }

main {
  padding: 2em; }

body {
  padding: 0; }

html, body {
  width: 100%;
  font-family: 'Open Sans', sans-serif; }

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; }

#container_nav {
  width: 100%;
  padding: 0; }

nav {
  width: 100%; }

#container {
  width: 100%;
  padding: 0;
  margin: 0; }
